{
	"printWidth": 100,
	"useTabs": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"semi": false,
	"singleQuote": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "lf",
	"jsxSingleQuote": true,
	"importOrder": [
		"^react$",
		"^react-dom$",
		"^@react/(.*)$",
		"^@react-router/(.*)$",
		"react-router-dom",
		"@tanstack/react-query",
		"@mui/(.*)$",

		"lucide-react",
		"react-hot-toast",
		"react-imask",
		"@hookform/(.*)$",
		"react-hook-form",
		"dayjs",
		"zod",
		"axios",

		"^@components/(.*)$",
		"^@pages/(.*)$",
		"^@providers/(.*)$",
		"^@hooks/(.*)$",
		"^@api/(.*)$",
		"^@zod-schemas/(.*)$",
		"^@states/(.*)$",
		"^@ts/(.*)$",
		"^@utils/(.*)$",
		"^@configs/(.*)$",
		"^@assets/(.*)$",
		"^@fontsource/roboto/(.*)$",

		"^\\./.*$",
		"^\\.\\./.*$",

		".*\\.css$",
		".*\\.scss$",
		".*\\.sass$",
		".*\\.less$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderBuiltinModulesToTop": true,
	"importOrderCaseInsensitive": true,
	"importOrderParserPlugins": ["typescript", "jsx"],
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
